@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.nav {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: 35%;
    margin-right: 3%;
}

.nav-list li {
    letter-spacing: 1px;
    font-size: 15px;
    margin-left: 32px;
}

.marcas {
    background-color: #ff3b77;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    width: 100%;
}

.marcas-list {
    list-style: none;
    display: flex;
}

.marcas-list li {
    letter-spacing: 1px;
    font-size: 15px;
    margin: 39px;
}

.nav-list a {
    color: #ff3b77;
    text-decoration: none;
}

.nav-list a:hover {
    opacity: 0.7;
}

.marcas-list a {
    color: #ffffff;
    text-decoration: none;
}

.marcas-list a:hover {
    opacity: 0.7;
}

.logo img {
    width: 60%;
}

/* Estilos do carrossel */
.carrossel {
    position: relative;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide {
    min-width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: auto;
}

input[name="radio-btn"] {
    display: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0%);
}
#slide2:checked ~ .slides {
    transform: translateX(-100%);
}
#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.indicadores {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicador {
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.6;
    transition: background-color 0.5s, opacity 0.5s;
}

input:checked + .indicador {
    background-color: white;
}

.indicador:hover {
    opacity: 1;
}
